.content-start {
  margin-left: 90px;
  width: 794px;
  height: 352px;
}

.start-title {
  font-size: 180px;
  text-align: right;
  font-family: 'Bebas Neue', sans-serif;
}

.start-forge {
  font-size: 30px;
  text-align: right;
  margin-top: -70px;
}

.question {
  color: #4242e0;
  font-weight: 400;
  font-size: 66px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}

.question-complete {
  font-family: 'Sora', serif;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.rows-questions {
  min-height: 55px;
  text-align: left;
}

.footer-buttons {
  margin-top: 30px;
  margin-bottom: 50px;
}

.start-lets {
  font-size: 20px;
  text-align: right;
  margin-top: 30px;
  cursor: pointer;
}

.content-end {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.content-end-text {
  text-align: right;
}

.content-bravo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 200px;
}

.content-score {
  font-size: 79px;
  font-family: 'Bebas Neue', sans-serif;
  margin-top: -90px;
}

.content-restart {
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
}

.score-score {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 44%;
  height: 100%;
  background-color: white;
  font-size: 250px;
  color: #4242e0;
  font-weight: 700;
  font-family: 'Bebas Neue', sans-serif;
}
